@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div id="g-id_onload" 
     data-cllient-id="566800243312-piegbc8hlik9ua6v1gmufuibvdk0ml9k.apps.googleusercontent.com"
     data-login-url='/google-response'>
  
     
</div>